#board {
    display: grid;
    position: relative;
    border: 3px solid #bbd9ec;
}

#row {
    width: 60px;
    height: 30px;
    position: relative;
    bottom: 0%;
}

#fretted {
    width: 18px;
    height: 18px;
    background-color: #bbd9ec;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

#open {
    display: inline-flex;
    width: 22px;
    height: 22px;
    border: 2.25px solid #bbd9ec;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40%;
}

#label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    top: -40%;
}