
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
  background-color: #060b1a;
  color: lightblue;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  width: 906 !important;
  max-width: 100% !important;
}

.slick-list {
  overflow: hidden !important;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
}

.slick-dots li button:before {
  color: lightblue !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: lightblue !important;
  opacity: 1 !important;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(161, 186, 195)!important;
}

