
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
  background-color: #0f0f0f;
  color: #bbd9ec;
}

#overall {
  display: flex !important;
  justify-content: space-between !important; 
  align-items: center !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-right: 20% !important;
  padding-left: 20% !important;
}

#choose-file {
  padding-left: 20%;
}

#upload-button {
  background-color: #bbd9ec;
  color: #0f0f0f;
}

#chord-info-box {
  width: 300px;
  padding: 20px;
  border: 2px solid #bbd9ec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}

#chord-name-header {
  opacity: 0.5;
}

#raw-notes-header {
  opacity: 0.5; 
  border-top: 2px solid #bbd9ec; 
  padding-top: 5%;
}

#raw-notes {
  min-height: 30px;
}

#mic-button {
  background-color: #bbd9ec;
  border-radius: 30%;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  width: 906 !important;
  max-width: 100% !important;
}

.slick-list {
  overflow: hidden !important;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
}

.slick-dots li button:before {
  color: #bbd9ec !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: #bbd9ec !important;
  opacity: 1 !important;
}

audio::-webkit-media-controls-panel {
  background-color: #bbd9ec !important;
}

